@using ShoeStoreApp.Utils
@{
    ViewData["Title"] = "Home Page";
}

@model List<Product>

@{
    var translator = new VietnameseTranslator();
}

<!-- Main Container -->
<div class="main-container container pt-3 h-100">
    <div class="mb-3">
        <h2>Tất cả sản phẩm</h2>
    </div>
    <!-- List container -->
    <div id="product-list-container">
        <!-- filter sidebar -->
        <div id="filter-sidebar">
            <!-- Category -->
            <div class="filter-item">
                <div class="mb-1">
                    <a class="category-link" href="/search?">Tất cả giày</a>
                </div>
                <div class="mb-1">
                    <a class="category-link"
                       href="/search?category=sneakers">Giày sneaker</a>
                </div>
                <div class="mb-1">
                    <a class="category-link"
                       href="/search?category=basketball">Giày bóng rổ</a>
                </div>
                <div class="mb-1">
                    <a class="category-link"
                       href="/search?category=football">Giày bóng đá</a>
                </div>
            </div>
            <!-- Gender -->
            <div class="filter-item">
                <hr />
                <button class="btn btn-toggle border-0 collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#gender-collapse"
                        aria-expanded="false">
                    <h5>Giới tính</h5>
                </button>
                <div class="collapse" id="gender-collapse">
                    <div class="filter-group">
                        <div class="mt-1">
                            <input class="form-check-input"
                                   type="checkbox"
                                   name="gender[]"
                                   value="men"
                                   id="gender-male" />
                            <label class="form-check-label"
                                   for="gender-male">Nam</label>
                        </div>
                        <div class="mt-1">
                            <input class="form-check-input"
                                   type="checkbox"
                                   name="gender[]"
                                   value="women"
                                   id="gender-female" />
                            <label class="form-check-label"
                                   for="gender-female">Nữ</label>
                        </div>
                        <div class="mt-1">
                            <input class="form-check-input"
                                   type="checkbox"
                                   name="gender-unisex"
                                   id="gender-unisex" />
                            <label class="form-check-label"
                                   for="gender-unisex">Unisex</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Brand -->
            <div class="filter-item">
                <hr />
                <button class="btn btn-toggle border-0 collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#brand-collapse"
                        aria-expanded="false">
                    <h5>Nhãn hiệu</h5>
                </button>
                <div class="collapse" id="brand-collapse">
                    <div class="filter-group">
                        <div class="mt-1">
                            <input class="form-check-input"
                                   type="checkbox"
                                   name="brand[]"
                                   value="nike"
                                   id="brand-nike" />
                            <label class="form-check-label"
                                   for="brand-nike">Nike</label>
                        </div>
                        <div class="mt-1">
                            <input class="form-check-input"
                                   type="checkbox"
                                   name="brand[]"
                                   value="adidas"
                                   id="brand-adidas" />
                            <label class="form-check-label"
                                   for="brand-adidas">Adidas</label>
                        </div>
                        <div class="mt-1">
                            <input class="form-check-input"
                                   type="checkbox"
                                   name="brand[]"
                                   value="puma"
                                   id="brand-puma" />
                            <label class="form-check-label"
                                   for="brand-puma">Puma</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Color -->
            <div class="filter-item">
                <hr />
                <button class="btn btn-toggle border-0 collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#color-collapse"
                        aria-expanded="false">
                    <h5>Màu sắc</h5>
                </button>
                <div class="collapse" id="color-collapse">
                    <div class="filter-group">
                        <div class="mt-1">
                            <input class="form-check-input"
                                   type="checkbox"
                                   value="black"
                                   name="color[]"
                                   id="color-black" />
                            <label class="form-check-label"
                                   for="color-black">Đen</label>
                        </div>
                        <div class="mt-1">
                            <input class="form-check-input"
                                   type="checkbox"
                                   name="color[]"
                                   value="white"
                                   id="color-white" />
                            <label class="form-check-label"
                                   for="color-white">Trắng</label>
                        </div>
                        <div class="mt-1">
                            <input class="form-check-input"
                                   type="checkbox"
                                   name="color[]"
                                   value="pink"
                                   id="color-pink" />
                            <label class="form-check-label"
                                   for="color-pink">Hồng</label>
                        </div>
                        <div class="mt-1">
                            <input class="form-check-input"
                                   type="checkbox"
                                   name="color[]"
                                   value="blue"
                                   id="color-blue" />
                            <label class="form-check-label"
                                   for="color-blue">Xanh dương</label>
                        </div>
                        <div class="mt-1">
                            <input class="form-check-input"
                                   type="checkbox"
                                   name="color[]"
                                   value="gray"
                                   id="color-gray" />
                            <label class="form-check-label"
                                   for="color-gray">Xám</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Price -->
            <div class="filter-item">
                <hr />
                <button class="btn btn-toggle border-0 collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#price-collapse"
                        aria-expanded="false">
                    <h5>Giá</h5>
                </button>
                <div class="collapse" id="price-collapse">
                    <div class="filter-group">
                        <div class="mt-1">
                            <input class="form-check-input"
                                   type="checkbox"
                                   value="0-1000000"
                                   id="0-1000000"
                                   name="price[]" />
                            <label class="form-check-label" for="0-1000000">0 - 1,000,000đ</label>
                        </div>
                        <div class="mt-1">
                            <input class="form-check-input"
                                   type="checkbox"
                                   value="1000000-2000000"
                                   id="1000000-2000000"
                                   name="price[]" />
                            <label class="form-check-label"
                                   for="1000000-2000000">1,000,000đ - 2,000,000đ</label>
                        </div>
                        <div class="mt-1">
                            <input class="form-check-input"
                                   type="checkbox"
                                   value="2000000-5000000"
                                   name="price[]"
                                   id="2000000-5000000" />
                            <label class="form-check-label"
                                   for="2000000-5000000">2,000,000đ - 5,000,000đ</label>
                        </div>
                        <div class="mt-1">
                            <input class="form-check-input"
                                   type="checkbox"
                                   value="5000000"
                                   name="price[]"
                                   id="5000000" />
                            <label class="form-check-label" for="5000000">
                                &gt; 5,000,000đ
                            </label>
                        </div>
                    </div>
                </div>

            </div>
            <button class="btn btn-dark w-100 mt-3" onclick="filter()">
                Lọc
            </button>
        </div>
        <!-- filter sidebar -->
        <!-- Product list -->
        <div id="product-list" class="container">
            <div class="row gy-3">
                <!-- Product -->
                @foreach(var product in Model)
                {
                    @product.Id
                    <a class="card col-4" asp-route="/Detail/@product.Id">
                        <div class="card-img-top">
                            <img class="display-img"
                                 src="@product.Variants.ElementAt(0).ImgPath"
                                 data-originalimg="@product.Variants.ElementAt(0).ImgPath"
                                 alt="..." />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <div class="card-text text-secondary">Giày @translator.Translate(product.Category) @translator.Translate(product.Gender)</div>
                            <div class="card-text text-secondary">@product.Variants.Count màu</div>
                            <div class="color-container">
                                @foreach(var color in product.Variants)
                                {
                                    <div class="img-container hidden variant">
                                        <img src="@color.ImgPath" alt="">
                                    </div>
                                }
                            </div>
                            <b class="card-text price">@CurrencyFormat.Format(product.Price)</b>
                        </div>
                    </a>
                }
            </div>
        </div>
        <!-- Product list -->
    </div>
</div>
<!-- Main Container -->